MYSQL_ROOT_PASSWORD=root123
MYSQL_USER=vetcontrol
MYSQL_PASSWORD=vetcontrol123

JWT_SECRET=vetcontrol-secret-key-2026-vetcontrol-secret-key-2026

ADMIN_PASSWORD=admin123
RECEPCION_PASSWORD=recepcion123
VETERINARIO_PASSWORD=vet123
